/*
body {
background-color: #8fd2cb !important;
}
*/
.cabecera{
    width:100%;
    margin-bottom:15px;
}

#logo{
    width:175px;
    height:100%;
}

#logo:hover{
    opacity:0.4;
}

div[class="thumbnail"] img { 
    width: 100%;
}

#nav-bar-2{
    /*background-color:rgba(255, 255, 255, 0.9)*/ /* blanco */
    background-color:rgba(174, 167, 159, 0.7) /* gris */
}

#barraEasy{
    
    display: none;
    border-radius: 5px;
}

.dropdown{
    background-color: #0079af !important;
}

/*
ul[class="dropdown-menu"] li > input{ 
margin-bottom: 3px;
}

/* Modificacio Bootstrap */
/*
.navbar-brand{
padding: 5px 15px !important;
}

.row{
padding-top:30px;
}
.thumbnail{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

*/

#inputBuscar{
    border-radius: 50px;
    margin:56px 0px 6px 30%;
    width:40%;    
    color:#fff;
    background-color: #5f5f5f;
}

body{
    padding-top:100px;
    /*padding-bottom:100px;*/
    /*padding-left: 120px; 
    padding-right: 120px;*/ 
}

#galeria{
    width:80%;
    margin:auto;
}

.thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-bottom:0px !important;
    margin-top:20px !important;

}

.colfirst{
    margin-left: 10px;
}

.buscar{
    border-radius: 30px;
    margin-top:60px;
    margin-bottom:10px;
}

.navbar-brand{
    padding:8px 15px !important;
}

.btn-primary{
    background-color: #005175 !important;
    border-color:#005175 !important;
}

.btn-primary:hover{
    background-color: #022b3e !important;
}

.navbar-nav>li>a{
    background-color: #005175 !important;
}

.navbar-nav>li>a:hover{
    background-color: #0079af  !important;
}

.navbar-nav>li>a:active{
    background-color: #0079af  !important;
}

.navbar-nav>li>a:pressed{
    background-color: #0079af  !important;
}

.navbar-default{
    background-color: #005175 !important;
}

a:[class="btn-def"]{
    color:#005175;
}

.btn-def{
    border-color: #005175; 
    border-radius: 40px;
    margin-bottom: 20px;
    color: #35d335;
    font-weight: bold;
    transition-duration: 0.3s;
}

.btn-def:hover{
    background-color: #005175;
    color: #ffffff;
}

button, a{
    outline:none !important;
    color: white;
}



#pass{
    color:black !important;
}

.passKo{
    background-color: rgba(255, 0, 0, 0.3);
}

.passOk{
    background-color: white;
}

button:hover, a:hover{
    outline:none !important;
    color:black;
}

.modal-header{
    background-color:#005175 !important;
    color:#fff;
}

footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: 50px;
    /* Altura del footer en px. Se han restado los 5px del margen
    superior mas los 5px del margen inferior
    */
    width:100%;
    height: 94px;
    clear: both;
    color: #ffffff;
    font-family:courier; 
    text-align:left; 
    font-size:smaller;
    bottom:0;
    background-color:#aea79f;
}

/* Esta clase define la anchura del contenido y la posicion centrada 
El contenido queda centrado y limitado, pero la cabecera y el pie
llegan hasta los limites del navegador.

.define {
    width:85%;
    margin:0 auto;
}
*/

.btnMas{
    width: 200px;
    border-color: #3aa7ff !important;
    border-radius:10px !important;
    /*margin: 20px auto !important;*/
    color: #3aa7ff !important;
    font-weight: bold !important;
    transition-duration: 0.3s !important;
}

.btnMas:hover{
    color:#ffffff !important;
    background-color: #3aa7ff !important;
}

.imgFoot{
    width:50px; 
    float:left;
    margin-top:20px;
    margin-left: 20px;
}

.footerLink{
    color:white !important;
    cursor:pointer;
}

.footerLink:hover{
    color:white !important;
    cursor:pointer;
    text-decoration: none;
}


/*BOTONES SUBIR IMAGEN*/

.button_subir_imagen {
    background-color: #BE9A5B;
    border: 2px solid #CE6611;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_enviar_imagen {
    background-color: #BE9A5B;
    border: 2px solid #CE6611;
    color: white;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/*
.nav>li>a{
    color: black !important;
    padding: 0px 0px 0px 15px;
}*/